@import '../../_setting.scss';

$column-header-height: 46px;
$column-footer-height: 46px;

$column-height: calc(#{board-content-height} - #{$gap * 2});

.column {
  flex: 0 0 auto;
  width: 300px;
  height: $column-height;
  margin-left: $gap;

  > * {
    background-color: $list-bg-color;
    color: $text-color;
    padding: 0 8px;
  }

  header.column-drag-handle {
    color: $board-color;
    padding-left: 15px;
    height: $column-header-height;
    line-height: $column-header-height;
    font-size: $font-size;
    font-weight: bold;
    border-top-left-radius: $column-border-radius;
    border-top-right-radius: $column-border-radius;
    cursor: pointer;
  }

  footer {
    color: $text2-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size;
    padding-left: $gap;
    height: $column-footer-height;
    line-height: $column-footer-height;
    border-bottom-left-radius: $column-border-radius;
    border-bottom-right-radius: $column-border-radius;

    &:hover {
      background-color: rgba(244, 244, 247, 0.1);
      color: $board-color;
      cursor: pointer;
      text-decoration: underline;
    }

    .plus-icon {
      margin-right: 5px;
      filter: invert(68%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    }
  }

  .card-list {
    list-style-type: none;
    margin: 0;
    max-height: calc(#{$column-height} - #{$column-header-height} - #{$column-footer-height});
    overflow-y: auto;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
      width: 11px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darken($list-bg-color, 15);
      border-right: 5px solid $list-bg-color;
    }

    .card-ghost {
      transition: transform 0.18s ease;
      transform: rotateZ(5deg);
      font-weight: bold;
    }

    .card-ghost-drop {
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg);
      font-weight: bold;
    }

    .card-drop-preview {
      background-color: rgba(244, 244, 247, 0.1);
      border: 1px dashed #f2f3f5;
      margin: 5px;
    }
  }
}
