@import '../../_setting.scss';

$card-border-height: 4px;

li.card-item {
  background-color: white;
  padding: $gap;
  border-radius: $card-border-height;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.596);

  &:not(:last-child) {
    margin-bottom: $gap;
  }

  img {
    display: block;
    width: calc(100% +2 * #{$gap});
    margin: -$gap 0 $gap (-$gap);
  }
}