@import '../../_setting.scss';

.board-content {
  display: flex;
  height: $board-content-height;
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $common-element-bg;
    border-radius: 8px;
  }

  .column-drop-preview {
    background-color: rgba(244, 244, 247, 0.1);
    border: 1px dashed #f2f3f5;
    margin: 5px 45px 5px 5px;
  }

  .add-new-column {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    height: 32px;
    line-height: 32px;
    padding: 4px 0 4px 15px;
    cursor: pointer;
    color: #f2f3f5;
    margin-left: $gap;
    font-size: 15px;
    background-color: hsla(0, 0%, 100%, .24);
    border-radius: $column-border-radius;

    &:hover {
      background-color: rgba(244, 244, 247, 0.185);
      color: $text2-color;
      cursor: pointer;
      text-decoration: underline;
    }

    .plus-icon {
      margin-right: 5px;
      filter: invert(68%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    }
  }
}