@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

$gap: 10px;

$font-size: 1.1rem;

$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

$list-bg-color: #535353;
$board-bg-color: #202020;
$board-color: #eeeeee;
$common-element-bg: rgba(255, 255, 255, 0.233);

$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';
